* {
     box-sizing: border-box;
}

a {
     text-decoration: none;
     color: #c09f6d;
}

a:hover {
     color: #fad59e;
     text-decoration: underline;
}

body {
     background-color: #12141a;
     color: #9c958c;
     font-family: sans-serif;
     font-size: 1.2rem;
     margin: 0px;
}

#caption {
     font-style: italic;
     font-size: 0.8rem;
}

#wrapper {
     background-color: #222631;
}

header {
     background-color: #12141a;
     color: #FFFFFF;
     font-family: Verdana, serif;
     padding: 0;
}

header a {
     text-decoration: none;
}

header a:link {
     color: #ffffff;
}

header a:visited {
     color: #ffffff;
}

header a:hover {
     color: #90C7E3;
     text-decoration: none;
}

h1 {
     font-size: 1.3em;
     font-variant: small-caps;
     text-align: center;
     padding: 0.5em;
     margin: 0;
}

h2 {
     color: #ffffff;
     font-family: Verdana, serif;
}

h3 {
     color: #ffffff;
     font-family: Verdana, serif;
}

dl {
     background-color: #12141a;
     border-radius: 5px;
     margin-right: auto;
     padding: 15px;
}

dt {
     color:#ffffff;
     padding-bottom: 10px;
}

dd {
     padding-bottom: 20px;
}

nav {
     background-color: #333846;
     background-color: #1a1d25;
     text-align: center;
     font-size: 1.2em;
}

nav a {
     text-decoration: none;
}

nav a:link {
     color: #5C7FA3;
     color: #c09f6d;
}

nav a:visited {
     color: #5C7FA3;
     color: #c09f6d;
}

nav a:hover {
     color: #8fc7ff;
     color: #fad59e;
     text-decoration: none;
}

nav ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     margin: 0;
     padding-left: 0;
}

nav li {
     padding-top: 0.1em;
     padding-bottom: 0.1em;
     padding-left: 1em;
     padding-right: 1em;
     width: 100%;
     border-top: 0;
     border-bottom: 1px;
     border-left: 0;
     border-right: 0;
     border-style: solid;
     border-color: #2a2e3a;
}

main {
     display: block;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 1em;
     padding-right: 1em;
     margin-left: auto;
     margin-right: auto;
}

footer {
     background-color: #222631;
     font-size: .70em;
     font-style: italic;
     text-align: center;
     padding: 1em;
     padding-top: 2em;
}

table {
     border-collapse: collapse;
     font-size: 0.9rem;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
}

td {
     padding: 5px;
     padding-left: 10px;
     border: #16181f;
     border-width: 1px;
     border-style: solid;
     text-align: left;
}

th {
     padding: 5px;
     color: #FFFFFF;
     background-color: #0a0b0e;
     border: #16181f;
     border-width: 1px;
     border-style: solid;
}

#scheduleTable tr:nth-of-type(even) {
     background-color: #333846;
}

#scheduleTable a {
     font-weight: bold;
}

.text {
     text-align: left;
}

form {
     display: flex;
     flex-direction: column;
     padding-left: 1em;
     width: 90%;
}

form label {
     color: #FFFFFF;
     margin-bottom: 5px;
     margin-top: 10px;
}

input {
     color: #FFFFFF;
     background-color: #12141a;
     border-color: #12141a;
     border-style: solid;
     border-width: 1px;
     font-family: sans-serif;
     font-size: 1rem;
     line-height: 2em;
     margin-bottom: 0.5em;
     padding: 5px;
     padding-left: 10px;
}

input:focus {
     outline: none;
     border-color: #5C7FA3;
}

input[type="submit"] {
     color: #FFFFFF;
     background-color: #5C7FA3;
     font-size: 16px;
     margin-top: 25px;
}

input[type="submit"]:hover {
     background-color: #8fc7ff;
}

textarea {
     margin-bottom: 0.5em;
}

#homehero {
     height: 300px;
     background-image: url(images/homehero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     height: 300px;
}

#galleryhero {
     background-image: url(images/galleryhero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     height: 300px;
}

#missionhero {
     background-image: url(images/missionhero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     height: 300px;
}

#newsletterhero {
     background-image: url(images/newsletterhero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     height: 300px;
}

#schedulehero {
     background-image: url(images/schedulehero.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     height: 300px;
}

#perspectivehero {
     background-image: url(images/perspectivehero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 300px;
}

#redPip {
     color: #FF0000;
     font-weight: bold;
}

#gallery {
     background-color: #12141a;
     border-radius: 5px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 5%;
     padding-right: 5%;
     width: 90%;
}

.gallery-image {
     border-width: 2px;
     border-style: solid;
     border-color: #000000;
}

.gallery-image:hover {
     border-color: #fad59e;
}

#perspective-graph {
     margin-left: auto;
     margin-right: auto;
     background-color: #12141a;
     border-radius: 5px;
     font-size: 1.2rem;
     width:90%;
}

#perspective-graph td{
     background: none;
     border-width: 0;
     border-style:solid;
     padding-top:10px;
     text-align: right;     
}

#perspective-graph td:nth-child(2){
     padding-right: 2%;
     width: 90%;
}

.blurb {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     background-color: #12141a;
     border-radius: 5px;
     border-width: 1px;
     border-style: solid;
     border-color: #12141a;
     padding-top: 1px;
     padding-left: 15px;
     padding-right: 10px;
     padding-bottom: 5px;
}

.blurb:hover{
     border-width: 1px;
     border-style: solid;
     border-color: #fad59e;
}

.blurb-link:hover {
     text-decoration: none;
}

#jwst-model {
     display: block;
     width: 354px;
     margin-left: auto;
     margin-right: auto;
}

@media (min-width: 800px) {
     h1 {
          font-size: 2em;
          letter-spacing: 0.25em;
     }

     main {
          width: 90%;
     }

     nav {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
     }

     nav ul {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-around;
     }

     nav li {
          width: 12em;
          border-bottom: none;
     }

     form {
          display: grid;
          grid-gap: 1em;
          grid: auto / 10em 1fr;
          width: 550px;
     }

     form label {
          margin-bottom: 0px;
          margin-top: 0px;
     }

     input[type="submit"] {
          grid-column: 2;
          margin-top: 20px;
     }

     #jwst-model {
          float: right;
          height: 280px;
          margin-right: 20%;
     }
}

@media (min-width: 1024px) {
     nav ul {
          padding-left: 12%;
          padding-right: 12%;
     }
     #wrapper {
          margin: auto;
     }
}

@media (min-width: 1400px) {
     main {
          width: 70%;
     }
}

/*This took a lot of time to work out, but this will radically alter the schedule table to improve readability on smaller displays */
@media (max-width: 1200px) {

     #scheduleTable table,
     #scheduleTable th,
     #scheduleTable td,
     #scheduleTable tr {
          display: block;
          font-size: 0.8rem;
     }

     #scheduleTable {
          width: 100%;
     }

     /*Remove widescreen*/
     #scheduleTable tr:first-child {
          display: none;
     }

     #scheduleTable tr {
          border: #16181f;
          border-width: 1px;
          border-style: solid;
          background-color: #333846;
          margin-bottom: 15px;
     }

     #scheduleTable th {
          display: none;
     }

     /* Cause the td to act like rows */
     #scheduleTable td {
          border-bottom: 1px;
          border-color: rgba(22, 24, 31, 0.3);
          position: relative;
          padding-left: 50%;
          white-space: normal;
          text-align: left;
     }

     /* Use pseudo class to format headers beside the td contents*/
     #scheduleTable td:before {
          position: absolute;
          top: 6px;
          left: 5px;
          width: 45%;
          padding-right: 10px;
          text-align: left;
          font-weight: bold;
     }

     /*Set the contents before the td to the data-title attribute generated by schedule.js*/
     #scheduleTable td:before {
          content: attr(data-title);
     }
}